*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100vh;
}

$radius-primary: 16px;
$radius-secondary: 8px;

$gradient-primary: linear-gradient(135deg, #000 0%, rgba(33, 37, 40, 1) 100%);

$white-primary: #eee;

$black-primary: rgba(33, 37, 40, 1);
$black-secondary: rgba(65, 71, 78,1);

$shadow-primary: 1px 1px 50px 2px rgba(255, 255, 255, 0.25);

