*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100vh;
}

$radius-primary: 16px;
$radius-secondary: 8px;

$gradient-primary: linear-gradient(135deg, #161f24 0%, #121b20 100%);

$white-primary: #eee;

$black-primary: rgb(20, 16, 26);

$orange-primary: rgba(230, 124, 72, 1);
$orange-secondary: rgba(245, 64, 15, 1);

$screen-primary: rgb(164, 146, 105);
//$screen-secondary: rgba(96, 89, 102, 1);
$screen-secondary: rgba(33, 161, 198, 1);

//$device-primary: rgba(182, 177, 167, 1);
$device-primary: rgba(204, 202, 203, 1);

$shadow-primary: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.5),
inset -1px -1px 1px 1px rgba(0, 0, 0, 0.5);
$shadow-inset-primary: inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5),
inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
$shadow-body-primary:inset 1px 1px 1px 1px rgba(255, 255, 255, 0.5),
inset -1px -1px 1px 1px rgba(0, 0, 0, 0.5);

